@{
    ViewData["Title"] = "Error";
}

<h1>An Error Occurred</h1>

@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
else
{
    <p class="text-danger">An unknown error occurred.</p>
}
